body{
    background-image:url('https://pcg.church/media/images/W1siZiIsIjIwMTgvMDEvMDUvNWN0NzVpenllM19Ub190aGluay5qcGciXSxbInAiLCJ0aHVtYiIsIjExMjB4NjMwIyJdXQ?sha=39fbb2d0ac5780b4');
    background-repeat: no-repeat;
    background-size: cover;    
}
.button1{
    font-family: 'ink free regular';
    color: black;
    border: dashed;
    text-align: right;
    margin-right: 150px;
    margin-left: 900px;
    padding: 10px;
    background-color: #EF1653;
    margin-top: 250px;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}